n8n_IzA_Modal.json
{
  "name": "IzA Web Modal API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "iza-web",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "02493af7-4215-48a0-aa70-5290dba47d84",
      "name": "Webhook IzA Web",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -656,
        240
      ],
      "webhookId": "iza-web-modal"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "userType",
              "name": "userType",
              "value": "={{ $json.body.userType || 'cliente' }}",
              "type": "string"
            },
            {
              "id": "sessionId",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId || 'web-' + Date.now() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "537fe6b5-3b22-4183-9eaa-2d3a456decec",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-corretor",
              "leftValue": "={{ $json.userType }}",
              "rightValue": "corretor",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ec7ea22a-6ba2-4010-adce-b4ca835f2391",
      "name": "É Corretor?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        240
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Você é a IzA, assistente virtual da iziBrokerz.\n\nPERSONALIDADE:\n- Simpática, educada, prestativa e natural (nunca robótica)\n- Valorize e elogie as escolhas do cliente\n\n⚠️ REGRA CRÍTICA:\n- NUNCA cite opções específicas (bairros, cidades, tipos) no texto\n- Os botões são gerados pelo sistema com dados reais\n- Você NÃO sabe quais opções existem - NÃO sugira nenhuma\n- Confie nos botões, eles mostram as opções corretas\n\nREGRAS DE RESPOSTA:\n- Respostas curtas (1-2 frases máximo)\n- NUNCA antecipe ou induza escolhas\n- NUNCA liste opções no texto\n- NUNCA diga \"Aqui vão aparecer...\"\n- NUNCA invente nomes de bairros/cidades/tipos\n- Não repita informações (\"já disse\", \"conforme mencionei\")\n\nFLUXO DE CONVERSA:\n\n1. Cliente escolhe OPERAÇÃO (alugar/comprar/temporada):\n   → \"Ótimo! Escolha o tipo de imóvel:\"\n\n2. Cliente escolhe TIPO:\n   → \"Perfeito! Selecione a cidade:\"\n\n3. Cliente escolhe CIDADE:\n   → \"Excelente! Selecione o bairro:\"\n\n4. Cliente escolhe BAIRRO:\n   → \"Ótima escolha! Veja as opções disponíveis:\"\n\nELOGIOS (use variações):\n- \"Excelente escolha!\"\n- \"Ótima região!\"\n- \"Bairro muito procurado!\"\n- \"Região valorizada!\"\n\nSOBRE LINKS:\n- NÃO gere links durante a conversa\n- Gere link APENAS se:\n  - Cliente pedir explicitamente\n  - Não houver imóveis disponíveis\n- Os cards dos imóveis já são clicáveis\n\nQUANDO NÃO ENCONTRAR IMÓVEIS:\n→ \"Não encontrei imóveis com esses critérios no momento.\"\n→ \"Explore outras opções: https://izi-theta.vercel.app/search\"\n\nSEGURANÇA (mencionar 1x por conversa, de forma sutil):\n→ \"Nossos corretores são verificados no CRECI 🔒\"\n\nLINKS (usar só quando necessário):\n- Plataforma: https://izi-theta.vercel.app\n- Buscar: https://izi-theta.vercel.app/search"
        }
      },
      "id": "5b9ab07b-ba99-4d71-a0e1-477fbebfcf9e",
      "name": "AI Agent Clientes",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        0,
        144
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Você é a IzA, consultora de parcerias da iziBrokerz.\n\nPERSONALIDADE:\n- Profissional, consultiva e objetiva\n- Especialista em parcerias imobiliárias\n- Tom de colega de profissão (Corretora de Imóveis), não de vendedora\n\nREGRAS DE RESPOSTA:\n- Seja concisa (2-3 frases máximo)\n- Use emojis com MUITA moderação (máximo 1 por mensagem)\n- Não seja repetitiva\n- Não diga \"Já informei\", \"Como mencionei\", etc.\n- Seja técnica e profissional\n\nSOBRE A IZIBROKERZ:\n- Plataforma que conecta corretores para parcerias e captação de leads\n- \"Mais vale 50% de algo do que 100% de nada!\"\n- Página personalizada com design profissional e objetivo\n- Leads qualificados via WhatsApp, ChatBot e Agente de IA (de acordo com plano escolhido)\n- CRM eficaz integrado com funil de vendas\n- Verificação no Sistema CRECI/COFECI de todos os Corretores Parceiros\n\nFUNCIONALIDADES PRINCIPAIS:\n\n1. MATCH INTELIGENTE:\n- Sistema que conecta seu imóvel ao cliente ideal\n- Leads chegam pelo WhatsApp ou ChatBot\n- Você recebe apenas leads qualificados da sua região\n\n2. PÁGINA PROFISSIONAL:\n- Seu portfólio de imóveis com sua marca\n- URL personalizada (iziBrokerz.com.br/seu-nome)\n- Compartilhe nas redes sociais\n\n3. REDE DE PARCERIAS:\n- Conecte-se com corretores de outras regiões\n- Divida comissões em negócios conjuntos\n- Expanda sua carteira sem custos extras e sem sair de casa\n\n4. CRM E FUNIL:\n- Acompanhe seus leads e propostas\n- Funil visual de vendas\n\nPLANOS E PREÇOS:\n- A partir de R$99/mês\n- Plano anual: 20% de desconto\n- Teste grátis 14 dias (sem cartão)\n- Até 10 imóveis no período de teste\n- Cupons de desconto disponíveis\n- Detalhes: https://izi-theta.vercel.app/partner\n\nCADASTRO:\n- Link: https://izi-theta.vercel.app/login\n- Processo rápido, menos de 2 minutos\n\nPERGUNTAS PARA QUALIFICAR:\nSe oportuno, pergunte:\n- \"Em qual cidade/região você atua?\"\n- \"Quantos imóveis você gerencia atualmente?\"\n- \"Já trabalha com parcerias?\"\n\nSEGURANÇA:\n- Todos os corretores são verificados no Sistema CRECI/COFECI\n- Ambiente seguro para seus clientes e leads"
        }
      },
      "id": "a024c91a-60e1-4ac7-bca5-cb9df9508fbf",
      "name": "AI Agent Corretores",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        0,
        352
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "ababd721-86a0-4288-86a9-771893058f96",
      "name": "Groq Clientes",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -80,
        16
      ],
      "credentials": {
        "groqApi": {
          "id": "Z6VdOT1vbUMa3wAK",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "6cb650e1-94d1-41b2-96c2-a47598b126b2",
      "name": "Groq Corretores",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -80,
        528
      ],
      "credentials": {
        "groqApi": {
          "id": "Z6VdOT1vbUMa3wAK",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extrair Dados').item.json.sessionId }}"
      },
      "id": "2358759d-9adb-467c-9561-57b69ff16c45",
      "name": "Memory Clientes",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        96,
        16
      ],
      "credentials": {
        "redis": {
          "id": "JQAEnAC8i9L82NRE",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extrair Dados').item.json.sessionId }}"
      },
      "id": "9e700ca3-38d1-488d-9fbe-416d1ba7c2c1",
      "name": "Memory Corretores",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        96,
        528
      ],
      "credentials": {
        "redis": {
          "id": "JQAEnAC8i9L82NRE",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"response\": $json.output, \"sessionId\": $('Extrair Dados').item.json.sessionId } }}",
        "options": {}
      },
      "id": "be9a5a11-345e-448f-9bf6-f674edfa2641",
      "name": "Responder Clientes",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"response\": $json.output, \"sessionId\": $('Extrair Dados').item.json.sessionId } }}",
        "options": {}
      },
      "id": "ed0f619d-c757-46d4-911e-e689841eedf6",
      "name": "Responder Corretores",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        352
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook IzA Web": {
      "main": [
        [
          {
            "node": "Extrair Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados": {
      "main": [
        [
          {
            "node": "É Corretor?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Corretor?": {
      "main": [
        [
          {
            "node": "AI Agent Corretores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent Clientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Clientes": {
      "main": [
        [
          {
            "node": "Responder Clientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Corretores": {
      "main": [
        [
          {
            "node": "Responder Corretores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Clientes": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Clientes",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Corretores": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Corretores",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory Clientes": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Clientes",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Memory Corretores": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Corretores",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b583a769-c3c0-4db1-83ba-8a5c963337f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "38e6312e7184f7bda7b7a92f26e482c0c0930077badc2cbaee44c9500950e988"
  },
  "id": "eDN702kOD8anFlsf",
  "tags": []
}