n8n_IzA_Corretores.json
{
  "name": "IzA WhatsApp Agent v2 Corretores",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waha-webhook-corretores",
        "options": {}
      },
      "id": "d2fdcbf2-0afa-424f-9da4-054fe821a86c",
      "name": "Webhook WAHA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "webhookId": "8178ae2c-ec91-4adf-a1b6-e151434fa7a3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chatID",
              "name": "chatID",
              "value": "={{ $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.body.payload.body }}",
              "type": "string"
            },
            {
              "id": "session",
              "name": "session",
              "value": "default",
              "type": "string"
            },
            {
              "id": "event",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "fromMe",
              "name": "fromMe",
              "value": "={{ $json.body.payload.fromMe }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "943d0633-b682-4ed3-bff2-d9a7cb1674fe",
      "name": "Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Você é a IzA, consultora de parcerias da iziBrokerz.\n\nPERSONALIDADE:\n- Profissional, consultiva e objetiva\n- Especialista em parcerias imobiliárias\n- Tom de colega de profissão (Corretora de Imóveis), não de vendedora\n\nREGRAS DE RESPOSTA:\n- Seja concisa (2-3 frases máximo)\n- Use emojis com MUITA moderação (máximo 1 por mensagem)\n- Não seja repetitiva\n- Não diga \"Já informei\", \"Como mencionei\", etc.\n- Seja técnica e profissional\n\nSOBRE A IZIBROKERZ:\n- Plataforma que conecta corretores para parcerias e captação de leads\n- \"Mais vale 50% de algo do que 100% de nada!\"\n- Página personalizada com design profissional e objetivo\n- Leads qualificados via WhatsApp, ChatBot e Agente de IA (de acordo com plano escolhido)\n- CRM eficaz integrado com funil de vendas\n- Verificação no Sistema CRECI/COFECI de todos os Corretores Parceiros\n\nFUNCIONALIDADES PRINCIPAIS:\n\n1. MATCH INTELIGENTE:\n- Sistema que conecta seu imóvel ao cliente ideal\n- Leads chegam pelo WhatsApp ou ChatBot\n- Você recebe apenas leads qualificados da sua região\n\n2. PÁGINA PROFISSIONAL:\n- Seu portfólio de imóveis com sua marca\n- URL personalizada (iziBrokerz.com.br/seu-nome)\n- Compartilhe nas redes sociais\n\n3. REDE DE PARCERIAS:\n- Conecte-se com corretores de outras regiões\n- Divida comissões em negócios conjuntos\n- Expanda sua carteira sem custos extras e sem sair de casa\n\n4. CRM E FUNIL:\n- Acompanhe seus leads e propostas\n- Funil visual de vendas\n\nPLANOS E PREÇOS:\n- A partir de R$99/mês\n- Plano anual: 20% de desconto\n- Teste grátis 14 dias (sem cartão)\n- Até 10 imóveis no período de teste\n- Cupons de desconto disponíveis\n- Detalhes: https://izi-theta.vercel.app/partner\n\nCADASTRO:\n- Link: https://izi-theta.vercel.app/login\n- Processo rápido, menos de 2 minutos\n\nPERGUNTAS PARA QUALIFICAR:\nSe oportuno, pergunte:\n- \"Em qual cidade/região você atua?\"\n- \"Quantos imóveis você gerencia atualmente?\"\n- \"Já trabalha com parcerias?\"\n\nSEGURANÇA:\n- Todos os corretores são verificados no Sistema CRECI/COFECI\n- Ambiente seguro para seus clientes e leads"
        }
      },
      "id": "472f13e2-590d-47a3-98b6-e49d8bead2b2",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        512,
        0
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "4b3f0186-35ae-473b-beed-fbdfa2dc9e4c",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        416,
        208
      ],
      "credentials": {
        "groqApi": {
          "id": "Z6VdOT1vbUMa3wAK",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://waha:3000/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "default"
            },
            {
              "name": "chatId",
              "value": "={{ $node['Dados'].json.chatID }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "992f7b56-f7b1-4119-93c4-5ba2dfa86584",
      "name": "WAHA Enviar Resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chatID }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        576,
        208
      ],
      "id": "53a601dc-acee-4082-a5c6-167b13fc1770",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "JQAEnAC8i9L82NRE",
          "name": "Redis account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook WAHA": [
      {
        "json": {
          "headers": {
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "WAHA/2025.12.2",
            "x-webhook-request-id": "7biz16mjogsj6c",
            "x-webhook-timestamp": "1766849867795",
            "content-length": "3221",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "44.202.213.255:5678",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "evt_01kdg7aw0kg8cv6hq4gtwtb90y",
            "timestamp": 1766849867795,
            "event": "message",
            "session": "default",
            "me": {
              "id": "558494430606@c.us",
              "pushName": "Clicimob | Empreend. Imobiliários"
            },
            "payload": {
              "id": "false_5584933001815@c.us_ACCA4E4C3575C6DF5B490CA2659B759E",
              "timestamp": 1766849863,
              "from": "5584933001815@c.us",
              "fromMe": false,
              "source": "app",
              "to": "558494430606@c.us",
              "body": "Olá quero alugar um apartamento em Natal",
              "hasMedia": false,
              "media": null,
              "ack": 1,
              "ackName": "SERVER",
              "location": null,
              "vCards": [],
              "_data": {
                "id": {
                  "fromMe": false,
                  "remote": "5584933001815@c.us",
                  "id": "ACCA4E4C3575C6DF5B490CA2659B759E",
                  "_serialized": "false_5584933001815@c.us_ACCA4E4C3575C6DF5B490CA2659B759E"
                },
                "viewed": false,
                "body": "Olá quero alugar um apartamento em Natal",
                "type": "chat",
                "t": 1766849863,
                "clientReceivedTsMillis": 1766849864301,
                "notifyName": "Beluzzo",
                "from": "5584933001815@c.us",
                "to": "558494430606@c.us",
                "ack": 1,
                "invis": false,
                "isNewMsg": true,
                "star": false,
                "kicNotified": false,
                "recvFresh": true,
                "isFromTemplate": false,
                "isAdsMedia": false,
                "pollInvalidated": false,
                "isSentCagPollCreation": false,
                "latestEditMsgKey": null,
                "latestEditSenderTimestampMs": null,
                "mentionedJidList": [],
                "groupMentions": [],
                "isEventCanceled": false,
                "eventInvalidated": false,
                "isVcardOverMmsDocument": false,
                "isForwarded": false,
                "isQuestion": false,
                "questionReplyQuotedMessage": null,
                "questionResponsesCount": 0,
                "readQuestionResponsesCount": 0,
                "forwardsCount": 0,
                "labels": [],
                "hasReaction": false,
                "viewMode": "VISIBLE",
                "messageSecret": {
                  "0": 54,
                  "1": 213,
                  "2": 62,
                  "3": 203,
                  "4": 170,
                  "5": 32,
                  "6": 138,
                  "7": 252,
                  "8": 153,
                  "9": 0,
                  "10": 48,
                  "11": 28,
                  "12": 242,
                  "13": 233,
                  "14": 250,
                  "15": 2,
                  "16": 182,
                  "17": 94,
                  "18": 241,
                  "19": 24,
                  "20": 55,
                  "21": 75,
                  "22": 17,
                  "23": 159,
                  "24": 24,
                  "25": 223,
                  "26": 156,
                  "27": 21,
                  "28": 241,
                  "29": 45,
                  "30": 205,
                  "31": 186
                },
                "productHeaderImageRejected": false,
                "lastPlaybackProgress": 0,
                "isDynamicReplyButtonsMsg": false,
                "isCarouselCard": false,
                "parentMsgId": null,
                "callSilenceReason": null,
                "isVideoCall": false,
                "callDuration": null,
                "callCreator": null,
                "callParticipants": null,
                "isCallLink": null,
                "callLinkToken": null,
                "isMdHistoryMsg": false,
                "stickerSentTs": 0,
                "isAvatar": false,
                "lastUpdateFromServerTs": 0,
                "invokedBotWid": null,
                "bizBotType": null,
                "botResponseTargetId": null,
                "botPluginType": null,
                "botPluginReferenceIndex": null,
                "botPluginSearchProvider": null,
                "botPluginSearchUrl": null,
                "botPluginSearchQuery": null,
                "botPluginMaybeParent": false,
                "botReelPluginThumbnailCdnUrl": null,
                "botMessageDisclaimerText": null,
                "botMsgBodyType": null,
                "reportingTokenInfo": {
                  "reportingToken": {
                    "0": 5,
                    "1": 72,
                    "2": 156,
                    "3": 108,
                    "4": 40,
                    "5": 126,
                    "6": 124,
                    "7": 85,
                    "8": 200,
                    "9": 2,
                    "10": 29,
                    "11": 147,
                    "12": 77,
                    "13": 75,
                    "14": 104,
                    "15": 133
                  },
                  "version": 2,
                  "reportingTag": {
                    "0": 1,
                    "1": 14,
                    "2": 6,
                    "3": 141,
                    "4": 139,
                    "5": 167,
                    "6": 124,
                    "7": 1,
                    "8": 216,
                    "9": 61,
                    "10": 195,
                    "11": 214,
                    "12": 0,
                    "13": 53,
                    "14": 149,
                    "15": 136,
                    "16": 4,
                    "17": 177,
                    "18": 54,
                    "19": 63
                  }
                },
                "requiresDirectConnection": false,
                "bizContentPlaceholderType": null,
                "hostedBizEncStateMismatch": false,
                "senderOrRecipientAccountTypeHosted": false,
                "placeholderCreatedWhenAccountIsHosted": false,
                "groupHistoryBundleMessageKey": null,
                "groupHistoryBundleMetadata": null,
                "groupHistoryIndividualMessageInfo": null,
                "nonJidMentions": null,
                "links": []
              }
            },
            "engine": "WEBJS",
            "environment": {
              "version": "2025.12.2",
              "engine": "WEBJS",
              "tier": "CORE",
              "browser": "/usr/bin/chromium"
            }
          },
          "webhookUrl": "http://44.202.213.255:5678/webhook/waha-webhook",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook WAHA": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WAHA Enviar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c6524f0d-ebad-4a81-bdb0-74fe25cbd632",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "38e6312e7184f7bda7b7a92f26e482c0c0930077badc2cbaee44c9500950e988"
  },
  "id": "Uq0BQ7521xbG52Or",
  "tags": []
}