workflow_iza_v3.json
{
    "name": "IzA WhatsApp Agent v3 - Sem Filtro",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "waha-webhook",
                "options": {}
            },
            "id": "webhook-waha",
            "name": "Webhook WAHA",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                220,
                300
            ],
            "webhookId": "waha-webhook"
        },
        {
            "parameters": {
                "mode": "manual",
                "duplicateItem": false,
                "assignments": {
                    "assignments": [
                        {
                            "id": "chatID",
                            "name": "chatID",
                            "value": "={{ $json.payload.from }}",
                            "type": "string"
                        },
                        {
                            "id": "message",
                            "name": "message",
                            "value": "={{ $json.payload.body }}",
                            "type": "string"
                        },
                        {
                            "id": "session",
                            "name": "session",
                            "value": "default",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "set-dados",
            "name": "Dados",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                440,
                300
            ]
        },
        {
            "parameters": {
                "agent": "toolsAgent",
                "promptType": "define",
                "text": "={{ $json.message }}",
                "options": {
                    "systemMessage": "Você é a IzA, uma assistente virtual inteligente e simpática para a iziBrokerz, uma plataforma de corretores de imóveis. Seja sempre educada, prestativa e profissional. Ajude os clientes com informações sobre imóveis e serviços."
                }
            },
            "id": "ai-agent",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                660,
                300
            ]
        },
        {
            "parameters": {
                "model": "llama-3.3-70b-versatile",
                "options": {}
            },
            "id": "groq-model",
            "name": "Groq Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
            "typeVersion": 1,
            "position": [
                680,
                500
            ],
            "credentials": {
                "groqApi": {
                    "id": "YOUR_GROQ_CREDENTIAL_ID",
                    "name": "Groq account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://waha:3000/api/sendText",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"session\": \"default\",\n  \"chatId\": \"{{ $('Dados').item.json.chatID }}\",\n  \"text\": \"{{ $json.output }}\"\n}"
            },
            "id": "waha-send",
            "name": "WAHA Enviar Resposta",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                880,
                300
            ]
        }
    ],
    "connections": {
        "Webhook WAHA": {
            "main": [
                [
                    {
                        "node": "Dados",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Dados": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "WAHA Enviar Resposta",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0
}