workflow_fixed.json
{
    "name": "IzA WhatsApp Agent (FIXED)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "evolution-webhook",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                220,
                340
            ],
            "webhookId": "evolution-webhook"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "filter-messages-only",
                            "leftValue": "={{ $json.event }}",
                            "rightValue": "messages.upsert",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "name": "Filter Messages Only",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2,
            "position": [
                420,
                340
            ]
        },
        {
            "parameters": {
                "options": {
                    "systemMessage": "Você é IzA, a assistente inteligente da plataforma iziBrokerz. Você ajuda corretores a atender leads de forma rápida e amigável. Seu tom é profissional mas acolhedor. Ajude com informações de imóveis e dúvidas sobre a plataforma. Responda de forma concisa e útil."
                },
                "text": "={{ $json.data.message.conversation || $json.data.message.extendedTextMessage?.text || 'Olá' }}"
            },
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.0,
            "position": [
                620,
                340
            ]
        },
        {
            "parameters": {
                "model": "llama3-8b-8192",
                "options": {}
            },
            "name": "Groq Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
            "typeVersion": 1,
            "position": [
                620,
                560
            ],
            "credentials": {
                "groqApi": {
                    "id": "Groq account",
                    "name": "Groq account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://152.67.40.239:8080/message/sendText/{{ $json.instance }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "izibrokerz_api_key_secure_2025"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $('Webhook').item.json.data.key.remoteJid }}"
                        },
                        {
                            "name": "text",
                            "value": "={{ $json.output }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Evolution API Reply",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                840,
                340
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Filter Messages Only",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Messages Only": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Evolution API Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    }
}