workflow_waha.json
{
    "name": "IzA WhatsApp Agent - WAHA",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "waha-webhook",
                "options": {}
            },
            "id": "webhook-node",
            "name": "Webhook WAHA",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                260,
                300
            ],
            "webhookId": "waha-webhook-001"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "filter-messages",
                            "leftValue": "={{ $json.event }}",
                            "rightValue": "message",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "filter-incoming",
                            "leftValue": "={{ $json.payload.fromMe }}",
                            "rightValue": false,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "filter-node",
            "name": "Filter Messages",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2,
            "position": [
                480,
                300
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.payload.body }}",
                "options": {
                    "systemMessage": "Você é a IzA, uma assistente virtual inteligente e amigável para corretores de imóveis. Responda de forma profissional, objetiva e útil. Seja cordial e use emojis quando apropriado. Responda em português do Brasil."
                }
            },
            "id": "ai-agent-node",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "llama-3.3-70b-versatile",
                    "mode": "list",
                    "cachedResultName": "llama-3.3-70b-versatile"
                },
                "options": {}
            },
            "id": "groq-node",
            "name": "Groq Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
            "typeVersion": 1,
            "position": [
                700,
                520
            ],
            "credentials": {
                "groqApi": {
                    "id": "GROQ_CREDENTIAL_ID",
                    "name": "Groq API"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://44.202.213.255:3000/api/sendText",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"chatId\": \"{{ $('Webhook WAHA').item.json.payload.from }}\",\n  \"text\": \"{{ $json.output }}\",\n  \"session\": \"default\"\n}"
            },
            "id": "waha-reply-node",
            "name": "WAHA Send Reply",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                920,
                300
            ]
        }
    ],
    "connections": {
        "Webhook WAHA": {
            "main": [
                [
                    {
                        "node": "Filter Messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Messages": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "WAHA Send Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "pinData": {}
}