workflow_iza_web.json
{
    "name": "IzA Web Modal API",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "iza-web",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "id": "webhook-iza-web",
            "name": "Webhook IzA Web",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                260,
                300
            ],
            "webhookId": "iza-web-modal"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "message",
                            "name": "message",
                            "value": "={{ $json.body.message }}",
                            "type": "string"
                        },
                        {
                            "id": "userType",
                            "name": "userType",
                            "value": "={{ $json.body.userType || 'cliente' }}",
                            "type": "string"
                        },
                        {
                            "id": "sessionId",
                            "name": "sessionId",
                            "value": "={{ $json.body.sessionId || 'web-' + Date.now() }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "set-dados",
            "name": "Extrair Dados",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                480,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "is-corretor",
                            "leftValue": "={{ $json.userType }}",
                            "rightValue": "corretor",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "if-corretor",
            "name": "É Corretor?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "options": {
                    "systemMessage": "Você é a IzA, assistente virtual da iziBrokerz.\n\nPERSONALIDADE:\n- Simpática, educada e prestativa\n- Cumprimente brevemente e PEÇA O NOME do cliente na primeira mensagem\n\nREGRAS DE RESPOSTA:\n- Seja natural, educada, polida e um pouco extrovertida\n- Seja sempre concisa (máximo 2-3 frases por mensagem)\n- Use frases curtas, objetivas e diretas\n- Use emojis com moderação\n\nOPERAÇÕES DISPONÍVEIS:\n- venda (comprar)\n- locacao (alugar mensal)\n- temporada (alugar por diária/semana)\n\nQUANDO O CLIENTE BUSCAR IMÓVEL:\nGere o link personalizado:\n- Compra: https://teste-izi-delta.vercel.app/search?tipo=X&operacao=venda&cidade=Y&bairro=Z\n- Aluguel: https://teste-izi-delta.vercel.app/search?tipo=X&operacao=locacao&cidade=Y&bairro=Z\n- Temporada: https://teste-izi-delta.vercel.app/search?tipo=X&operacao=temporada&cidade=Y&bairro=Z\n\nQUANDO NÃO SOUBER O QUE O CLIENTE QUER:\nPergunte: \"O que você procura? Comprar, alugar ou temporada? E em qual cidade?\"\n\nPORQUÊ ESCOLHER A IZIBROKERZ?\n- Evite golpes e fraudes!\n- Todos nossos Corretores Parceiros são verificados junto ao Sistema CRECI/COFECI\n- Os melhores Corretores de sua região estão aqui!\n\nLINKS:\n- Plataforma: https://teste-izi-delta.vercel.app\n- Buscar: https://teste-izi-delta.vercel.app/search"
                }
            },
            "id": "agent-clientes",
            "name": "AI Agent Clientes",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                920,
                200
            ]
        },
        {
            "parameters": {
                "options": {
                    "systemMessage": "Você é a IzA, consultora de parcerias da iziBrokerz.\n\nPERSONALIDADE:\n- Profissional, consultiva e entusiasmada\n- Especialista em parcerias imobiliárias\n\nREGRAS DE RESPOSTA:\n- Seja concisa (2-3 frases)\n- Use emojis com moderação\n\nSOBRE A IZIBROKERZ:\n- Plataforma que conecta corretores para expandir carteira e fechar mais negócios\n- Afinal, mais vale 50% de algo do que 100% de nada!\n- Oferece página personalizada e profissional\n- Gera leads qualificados via WhatsApp, ChatBot ou Agentes de IA\n\nBENEFÍCIOS:\n- Teste grátis 14 dias (sem cartão)\n- Até 10 imóveis no período de testes\n- Parcerias com outros corretores\n- CRM simples com funil de vendas\n- Todos os corretores são verificados no CRECI/COFECI\n\nQUANDO QUISER SE CADASTRAR:\n\"Crie sua conta gratuita: https://teste-izi-delta.vercel.app/login\nÉ rápido e você já pode começar a anunciar! 🚀\"\n\nQUANDO PERGUNTAR SOBRE CUSTOS:\n\"Planos a partir de R$99/mês\nPlano anual: 20% de desconto\nTeste grátis 14 dias sem cartão\nDetalhes: https://teste-izi-delta.vercel.app/partner\""
                }
            },
            "id": "agent-corretores",
            "name": "AI Agent Corretores",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                920,
                400
            ]
        },
        {
            "parameters": {
                "model": "llama-3.3-70b-versatile",
                "options": {}
            },
            "id": "groq-clientes",
            "name": "Groq Clientes",
            "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
            "typeVersion": 1,
            "position": [
                920,
                60
            ],
            "credentials": {
                "groqApi": {
                    "id": "YOUR_GROQ_CREDENTIAL_ID",
                    "name": "Groq account"
                }
            }
        },
        {
            "parameters": {
                "model": "llama-3.3-70b-versatile",
                "options": {}
            },
            "id": "groq-corretores",
            "name": "Groq Corretores",
            "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
            "typeVersion": 1,
            "position": [
                920,
                540
            ],
            "credentials": {
                "groqApi": {
                    "id": "YOUR_GROQ_CREDENTIAL_ID",
                    "name": "Groq account"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Extrair Dados').item.json.sessionId }}"
            },
            "id": "memory-clientes",
            "name": "Memory Clientes",
            "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
            "typeVersion": 1.3,
            "position": [
                1040,
                60
            ],
            "credentials": {
                "redis": {
                    "id": "YOUR_REDIS_CREDENTIAL_ID",
                    "name": "Redis"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Extrair Dados').item.json.sessionId }}"
            },
            "id": "memory-corretores",
            "name": "Memory Corretores",
            "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
            "typeVersion": 1.3,
            "position": [
                1040,
                540
            ],
            "credentials": {
                "redis": {
                    "id": "YOUR_REDIS_CREDENTIAL_ID",
                    "name": "Redis"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"response\": $json.output, \"sessionId\": $('Extrair Dados').item.json.sessionId } }}",
                "options": {}
            },
            "id": "respond-clientes",
            "name": "Responder Clientes",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1160,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"response\": $json.output, \"sessionId\": $('Extrair Dados').item.json.sessionId } }}",
                "options": {}
            },
            "id": "respond-corretores",
            "name": "Responder Corretores",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1160,
                400
            ]
        }
    ],
    "connections": {
        "Webhook IzA Web": {
            "main": [
                [
                    {
                        "node": "Extrair Dados",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extrair Dados": {
            "main": [
                [
                    {
                        "node": "É Corretor?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "É Corretor?": {
            "main": [
                [
                    {
                        "node": "AI Agent Corretores",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "AI Agent Clientes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent Clientes": {
            "main": [
                [
                    {
                        "node": "Responder Clientes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent Corretores": {
            "main": [
                [
                    {
                        "node": "Responder Corretores",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Clientes": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent Clientes",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Corretores": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent Corretores",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Memory Clientes": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent Clientes",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Memory Corretores": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent Corretores",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2025-12-27T20:40:00.000Z",
    "versionId": "1"
}