workflow_v2.json
{
    "name": "Evolution AI Agent + Logging",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "evolution-webhook",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                220,
                240
            ],
            "webhookId": "evolution-webhook"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO leads_interactions (lead_phone, message_content, message_type, platform, metadata) VALUES ($1, $2, 'user', 'whatsapp', $3);",
                "additionalFields": {
                    "queryParams": "={{ $node[\"Webhook\"].json[\"data\"][\"key\"][\"remoteJid\"] }},{{ $node[\"Webhook\"].json[\"data\"][\"message\"][\"conversation\"] || $node[\"Webhook\"].json[\"data\"][\"message\"][\"extendedTextMessage\"][\"text\"] }},{{ JSON.stringify($node[\"Webhook\"].json) }}"
                }
            },
            "name": "Log User Message",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                460,
                100
            ],
            "credentials": {
                "postgres": {
                    "id": "Supabase Connection",
                    "name": "Supabase Connection"
                }
            }
        },
        {
            "parameters": {
                "options": {
                    "systemMessage": "Você é IzA, a assistente inteligente da plataforma iziBrokerz. Você ajuda corretores a atender leads de forma rápida e amigável. Seu tom é profissional mas acolhedor. Ajude com informações de imóveis e dúvidas sobre a plataforma."
                }
            },
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.0,
            "position": [
                460,
                340
            ]
        },
        {
            "parameters": {
                "model": "llama3-8b-8192",
                "options": {}
            },
            "name": "Groq Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
            "typeVersion": 1,
            "position": [
                460,
                560
            ],
            "credentials": {
                "groqApi": {
                    "id": "Groq account",
                    "name": "Groq account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO leads_interactions (lead_phone, message_content, message_type, platform) VALUES ($1, $2, 'ai', 'whatsapp');",
                "additionalFields": {
                    "queryParams": "={{ $node[\"Webhook\"].json[\"data\"][\"key\"][\"remoteJid\"] }},{{ $node[\"AI Agent\"].json[\"output\"] }}"
                }
            },
            "name": "Log AI Reply",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                820,
                340
            ],
            "credentials": {
                "postgres": {
                    "id": "Supabase Connection",
                    "name": "Supabase Connection"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://152.67.40.239:8080/message/sendText/{{ $node[\"Webhook\"].json[\"instance\"] }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "izibrokerz_api_key_secure_2025"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $node[\"Webhook\"].json[\"data\"][\"key\"][\"remoteJid\"] }}"
                        },
                        {
                            "name": "text",
                            "value": "={{ $node[\"AI Agent\"].json[\"output\"] }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Evolution API Reply",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1040,
                340
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Log User Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Log AI Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log AI Reply": {
            "main": [
                [
                    {
                        "node": "Evolution API Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    }
}